/************* GENERAL**************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/************ UTILITY ****************/

.container {
  width: 1400px;
  margin: 0 auto;
}

.container-main {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.border {
  border: 2px solid grey;
}

.col-33 {
  width: calc(100% / 3 - 60px);
  height: 1200px;
  margin: 0 30px;
  float: left;
}

.hg-100 {
  height: 500px;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

h2 {
  font-size: 40px;
  padding: 40px 0;
}

h3 {
  font-size: 1.5em;
}

/*----- bottoni ------*/

.button {
  background-color: #0061ff;
  color: white;
  padding: 10px 45px;
}

.button:hover{
  filter: brightness(1.8);
}

.hd-button {
  background-color: #0061ff;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
}

.hd-button:hover{
  filter: brightness(1.8);
}

.button-transparent {
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
}

.button-transparent:hover{
  background-color: blueviolet;
  color: white;
}

.button-white {
  background-color: white;
  color: black;
  padding: 10px 35px;
}

.button-white:hover{
  background-color: blueviolet;
  color: white;
}


img {
  width: 100%;
}

.link {
  text-decoration: underline;
  color: blue;
}

.b-bt {
  border-bottom: 1px solid grey;
  padding-bottom: 40px;
}

.col-left {
  float: left;
}

.col-right {
  float: right;
}

/************ HEADER ******************/
header {
  height: 800px;
  background-color: #b4d0e7;
  position: relative;
}

/************* PRIMO HEADER ***************/
.header-top {
  width: 100%;
  background-color: white;
  padding: 0 20px;
  box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.20);  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-left {
  float: left;
}

nav {
  display: inline-block;
}

nav ul li {
  display: inline-block;
  margin: 0 25px;
}

.nav-right {
  float: left;
  padding: 0 10px;
  text-align: right;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}


.header-top nav ul li a{
  padding: 20px 0;
  display: inline-block;
}

.header-top nav ul li a:hover{
  box-shadow: inset 0px -5px 0px 0px #91718D;}


/************ SECONDO HEADER *************/

.header-bottom{
  padding: 50px 0;
}

h1 {
  padding: 65px 0;
  font-size: 80px;
}

.box-jumbotron {
  height: 500px;
}

.jumbotron-left {
  float: left;
  height: 350px;
  padding-right: 110px;
}

.jumbotron-right {
  float: left;
  height: 500px;
}

.jumbotron-left p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}

.free-try p {
  padding: 15px 0;
  font-size: 15px;
}

.fa-arrow-down {
  font-size: 40px;
}

.select-pay {
  height: 50px;
}

.select-pay p {
  display: inline-block;
  font-weight: 50px;
  vertical-align: middle;
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.cbx-blue {
  border: 5px solid blue;
}

.cbx-green {
  border: 1px solid green;
}

.check-month {
  display: inline-block;
  margin-right: 20px;
}
.check-years {
  display: inline-block;
}

/*********** PIANI DEL PRODOTTO ***********/

#price {
  margin-top: 130px;
}

.col-price {
  margin: 0 -30px;
}

.col-title {
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid grey;
}

.col-professional {
  padding: 30px 25px;
}

article {
  padding: 20px 0;
  line-height: 40px;
}

.box-bottom {
  padding: 40px 0;
  line-height: 60px;
}

.fa-check {
  color: blue;
}

 .row-card-top{
   margin: 30px 0;
 }

.ico-table{
  width: 5%;
}

.text-table{
  width: 95%;
  padding-left: 5px;
}


/*********** SEZIONE ENTERPRICE ************/

#for-enterprise {
  margin-top: 50px;
}

.box-enterprice {
  height: 250px;
  border: 2px solid gray;
}

.body-enterprise {
  padding: 35px 25px;
  line-height: 40px;
}

/************* SEZIONE PARTNER *****************/

#partner {
  margin-top: 130px;
}

.box-partner-img {
  width: 50%;
}

.box-partner-text {
  width: 50%;
  padding: 40px 80px;
  line-height: 30px;
}

.box-partner-text h3 {
  margin-bottom: 30px;
}
.box-partner-text p {
  margin-bottom: 30px;
}


/********** SEZIONE FUNZIONI APP ************/

#function {
  margin-top: 50px;
}

.row-top {
  margin: 60px -30px;
}

.row-bottom {
  margin: 60px -30px;
}

.box-function-text h3 {
  margin-bottom: 20px;
}

.underline {
  text-decoration: underline;
}

/* sezione team */
#team-text {
  margin-top: 110px;
}

.box-team-text {
  padding: 50px 0;
}

/********** SEZIONE LISTA TEAM ***********/
.box-team-logos {
  height: 500px;
}

.box-float {
  float: left;
}

.w-33 {
  width: calc(100% / 3);
  height: 500px;
}

.row-box-top {
  width: 50%;
  height: 50%;
  float: left;
  position: relative;
  cursor: pointer;
}

.box-img-logo {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(100%);
}

.green {
  background-color: #a2d39b;
}

.green:hover{
  box-shadow: inset 1px 0px 3px 20px #D0E9CD;
  transition: 1s;
}

.brown {
  background-color: #61082b;
}

.brown:hover{
  box-shadow: inset 1px 0px 3px 20px #D0E9CD;
  transition: 1s;
}

.violet {
  background-color: #0093ce;
}

.violet:hover{
  box-shadow: inset 1px 0px 3px 20px #D0E9CD;
  transition: 1s;
}

.red {
  background-color: #ff1c1c;
}

.red:hover{
  box-shadow: inset 1px 0px 3px 20px #D0E9CD;
  transition: 1s;
}


.box-center {
  background-color: #f5f5f5;
  padding: 50px;
}

.box-center-img {
  width: 25%;
}

.border-logo {
  width: 50px;
  margin: 30px 0;
  border-bottom: 2px solid #dedee0;
}

.cite {
  margin-top: 50px;
}

/********** SEZIONE PROVA GRATUITA ************/

#free-try {
  background-color: #b4d0e7;
}

.box-free-try {
  height: 300px;
  color: #61082b;
  padding: 100px 0;
}

.box-free-try h2 {
  padding: 0;
}

.w-75 {
  width: 75%;
}

.w-25 {
  width: 25%;
}

/*********  SEZIONE DOMANDE FREQUENTI ************/

#question {
  padding: 100px;
}

.box-question h2 {
  border-bottom: 1px solid grey;
}

.row-question {
  height: 90px;
  line-height: 90px;
  border-bottom: 1px solid grey;
}

.box-question-arrowdown {
  font-size: 25px;
}

/**************** FOOTER *****************/
footer {
  background-color: #000000;
  color: white;
  height: 500px;
}

/************* FOOTER TOP ***************/
.footer-top {
  height: 370px;
  padding: 70px 0;
}

.col-20 {
  width: calc(100% / 5);
}

.footer-top h3 {
  padding: 10px 0;
}

.footer-top ul {
  line-height: 30px;
}

.footer-top li {
  display: block;
}

/************ FOOTER BOTTOM ***************/

.line-lenguage {
  width: 150px;
  padding-top: 50px;
  border-top: 1px solid white;
}
