/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Open Sans', sans-serif;
}

/* utility */

.container-hd{
    width: 1400px;
    margin: 0 auto;
}



.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

.col-40{
    width: 40%;
}

.col-60{
    width: 60%;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.button{
    background-color: #0061FF;
    color: white;
    padding: 5px 15px;
}


img{
    width: 100%;
}

/* header */
header{
    height: 800px;
    background-color: #B4D0E7;
}

/* primo header */
.header-top{
    background-color: white;
    padding: 25px;
}

.nav-left{
    float: left;
}

nav{
    display: inline-block;
}

nav ul li{
    display: inline-block;
    margin: 0 25px;
}

.nav-right{
    float: left;
    padding: 0 10px;
}

.nav-right nav {
   padding: 0 40px;
}

.logo{
    display: inline-block;
    vertical-align: middle;

}

/* secondo header */

h1{
    padding: 65px 0;
    font-size: 80px;
}


.box-jumbotron{
    height: 500px;
}

.jumbotron-left{
    float: left;
    height: 350px;
    padding-right: 110px;
}


.jumbotron-right{
    float: left;
    height: 500px;
}

.jumbotron-left p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
}

.free-try p{
    padding: 15px 0;
    font-size: 15px;
}

.fa-arrow-down {
    font-size: 40px;
}